# Shared across all 3 agents
fastapi>=0.111.0
uvicorn[standard]
python-dotenv
aioredis>=2.0.1

# Testing
pytest>=7.4.4
pytest-asyncio>=0.23.4
pytest-timeout>=2.2.0
pytest-mock>=3.12.0
pytest-cov>=4.1.0
pytest-benchmark>=4.0.0
anyio>=4.2.0
Faker>=22.6.0
